OPENAI_API_KEY=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
FRONTEND_URL=http://localhost:5173
MODEL_NAME=gpt-4o-mini
EMBEDDING_MODEL=text-embedding-3-small
